body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    display: block;
    padding: 10px 10px 20px;
    margin: auto;
    max-width: 500px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
#form {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    margin-bottom: 50px
}

#endpoint {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

#title {
    text-align: center;
}